body{
    background-color: #E6E6E6
}

.firstheader{
    text-align: center;
    color: #0B3861;
    /*color:#a9a9a9;*/
    font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,Sans-Serif;
    font-size: 36
}

.headers-list{
    direction:ltr;
    background-color:white
}

.para1{
    text-align: center;
    font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,Sans-Serif;
    font-size: 24;
    color: rgb(150,150,255)
}

.front-page{
    background-color: #E6E6E6;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color:#a9a9a9
}
